<!DOCTYPE html>
<html lang="en">
<head>
  <title>Self-Learning Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>



<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-header">
      <a class="navbar-brand" href="/index">Self-Learning Tool</a>
    </div>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/experiment">Experiment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/history">History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quiz">Quiz</a>
    </li>
    
  </ul>
</nav>
  
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-3">
              <h1>Pythagorean theorem</h1>
              <br>
              <!-- <img [src]="img.src" width="300" height="200"/> -->
            
                <img width="300" height="200" src="https://miro.medium.com/max/700/1*SsN2DG__Z5DyOI0uf7hbwQ.png">
                
              <br>
              <p>Image Source: <a href="https://miro.medium.com/max/700/1*SsN2DG__Z5DyOI0uf7hbwQ.png">https://miro.medium.com/max/700/1*SsN2DG__Z5DyOI0uf7hbwQ.png</a></p>
              
              <br>
              <h6>In mathematics, the Pythagorean theorem, or Pythagoras's theorem, is a fundamental relation in Euclidean geometry among the three sides of a right triangle. 
                  It states that the area of the square whose side is the hypotenuse (the side opposite the right angle) is equal to the sum of the areas of the squares on the other two sides. 
                  This theorem can be written as an equation relating the lengths of the sides a, b and c. </h6>
              <br>
              <h6>Pythagorean equation: a² + b² = c²</h6>
              <br>
              <div class="list-group">
                  <a href="/experiment" class="list-group-item list-group-item-action">
                      Let's try implement the theorem!
                  </a>
                  <br>
                  <!-- Button that allows to download content from Amazon S3 -->
                  <a href="https://sofe4630-minglau.s3.amazonaws.com/content.pdf" class="list-group-item list-group-item-action" download>Download content</a>
                 
                </div>
              <br>
              
              <br>
              <p>source: <a href="https://en.wikipedia.org/wiki/Pythagorean_theorem">https://en.wikipedia.org/wiki/Pythagorean_theorem</a></p>

            </div>
        </div>
    </div>
</div>



<div class="text-center">
    <p>
        SOFE- 4630 Assignment 2
    </p>

</div>


</body>
</html>
